
body {
  background-color: #F9D0BC;
  font-family: 'Assistant', sans-serif;
}

.title1 {
  text-align: center;
  color: #2B2B2B;
}

h1 {
  font-size: 60px;
}

hr {
  color: white;
}

.Square {
  width: 15px;
  height: 15px;
  border: white 3px solid;
  background-color: #F9D0BC;
}

.one {
position: absolute;
top: 108px;
left: 15px;
}

.two {
position: absolute;
top: 108px;
right: 15px;
}

.line {
  display: inline;
  position: center;
}

.map1 {
  width: 100%;
}

ul li {
  margin: 5%;

}

button {
  width: 100%;
  margin-bottom: 10px;
  color: black;
}


.filtros {
  margin-top: 5%;
  margin-bottom: 5%;
}

.filtros img {
  float: left;
  width: 50%;

}

.pic {
  background-image: url(../assets/images/fondo-modal3.jpg);
  color: black;
  font-size: 30px;
  background-size: 100%;

}

.modal-header {
  text-align: center;
}

.modal-content {
  margin-top: 50%;
}
